@import "base";




@import "layouts/header";
@import "layouts/footer";
@import "layouts/pagination";
@import "layouts/product-card";
@import "layouts/single-product";
@import "layouts/shop";
@import "patterns";

@import "layouts/cart";
@import "layouts/checkout";
@import "layouts/thankyou";
@import "layouts/cart-sidebar";
@import "layouts/order-tracking";
@import "layouts/filters-sidebar";
@import "layouts/product-quickview";
@import "layouts/my-account";
@import "layouts/myaccount-downloads";
@import "layouts/myaccount-orders";
@import "layouts/myaccount-edit-address";
@import "layouts/myaccount-auth";

@import "blocks/slider";
@import "layouts/category-tabs";
@import "layouts/instagram-feed";
@import "layouts/shop-by-categories";
@import "layouts/inline-promo-banner";
@import "layouts/instagram-promo-grid";
@import "layouts/image-hotspots";
@import "layouts/category-card";
@import "layouts/video-promo";
@import "layouts/client-logos";
@import "layouts/slider";
@import "layouts/wishlist";
@import "layouts/sell-with-us";
@import "layouts/contact-us-form";
@import "layouts/seller-dashboard";
@import "layouts/single-product-reviews";