@import "base";




@import "layouts/header";
@import "layouts/footer";
@import "layouts/pagination";
@import "layouts/product-card";
@import "layouts/single-product";
@import "layouts/shop";
@import "patterns";

// @import "layouts/cart";
// @import "layouts/checkout";
@import "layouts/thankyou";
@import "layouts/cart-sidebar";
@import "layouts/order-tracking";
@import "layouts/filters-sidebar";
@import "layouts/product-quickview";
@import "layouts/my-account";
@import "layouts/myaccount-downloads";
@import "layouts/myaccount-orders";
@import "layouts/myaccount-edit-address";
@import "layouts/myaccount-auth";

@import "blocks/slider";
@import "layouts/category-tabs";
@import "layouts/homepage";
@import "layouts/instagram-feed";
@import "layouts/shop-by-categories";
@import "layouts/inline-promo-banner";
@import "layouts/instagram-promo-grid";
@import "layouts/image-hotspots";
@import "layouts/category-card";
@import "layouts/video-promo";
@import "layouts/client-logos";
@import "layouts/slider";
@import "layouts/wishlist";
@import "layouts/sell-with-us";
@import "layouts/contact-us-form";
@import "layouts/seller-dashboard";
@import "layouts/single-product-reviews";
@import "layouts/export-products";
@import "layouts/error";
@import "layouts/wc-empty-products";
@import "layouts/mega_menu";



[data-animate] {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity .6s ease, transform .6s ease;

  &.is-visible {
    opacity: 1;
    transform: none;
  }
}
[data-animation="toggle-ease"] {
    overflow: hidden;
    img {
        display: block;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 1.6s ease;
    }
    &.is-active {
        img {
            transform: scaleY(1);
        }
    }

}





.display-none {
  display: none !important;
}

.hospitality {
    font-family: $font__main;

    &__cta {
      padding: 14px 24px;
      border-radius: 45px;
      margin-bottom: 40px;
      display: inline-flex;
      border: 1px solid #1b201e;

      span {
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
      }
    }

    &__blocks {
      gap: 40px;
      width: 100%;
      display: flex;
    }
    &__block {
      width: 100%;
      display: none;
      &.active {
        display: flex;
      }
    }

    &__content {
      display: flex;
      gap: 40px;
    }

    &__sidebar {
      width: 296px;

      p {
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        margin-bottom: 16px;
      }
    }

    &__main {
      flex: 1;
      gap: 12px;
      display: flex;
      flex-direction: column;
    }

    &__promo {
      width: 330px;

      img {
        width: 100%;
        height: 264px;
        object-fit: cover;
        margin-bottom: 12px;
      }
    }

    /* ///// */

    .sidebar__title {
        gap: 8px;
        display: flex;
        cursor: pointer;
        align-items: center;
        margin-bottom: 24px;

        span {
          font-size: 18px;
          font-weight: 500;
        }
        .sidebar__btn {
            gap: 6px;
            border: none;
            display: none;
            cursor: pointer;
            font-size: 12px;
            font-weight: 500;
            padding: 6px 12px;
            align-items: center;
            border-radius: 150px;
            background: #9d8465;
            color: #fff !important;
            text-transform: uppercase;

            i {
                width: 8px;
                height: 8px;
                border: 1px solid #fff;
            }
        }

        &:hover, &.active {
            color: #9d8465;
            .sidebar__btn {
                display: inline-flex;
            }
        }
      
    }


    .columns {
      display: flex;
      gap: 24px;
    }

    .column {
      flex: 1;

      &.full {
        width: 100%;
      }

      h4 {
        margin-top: 0;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px;
      }

      ul {
        opacity: 0.8;

        li {
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 12px;
        }
      }
    }

    .apromo__links {
      li {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 8px;

        img {
          margin: 0;
          width: 15px;
          height: 10px;
          filter: invert(1);
        }
      }
    }
  }