.cart-sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: flex-end;
}

.cart-sidebar {
  width: 438px;
  height: 100vh;
  background: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px 0;
    gap: 8px;
  }

  &__title {
    color: #4A4A4A;
    font-size: 20px;
    font-family: Aspekta, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
  }

  &__close {
    padding: 0;
    width: 32px;
    height: 32px;
    border: none;
    display: flex;
    flex-shrink: 0;
    cursor: pointer;
    align-items: center;
    border-radius: 90px;
    background: #F6F6F6;
    justify-content: center;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &__items {
    flex: 1;
    overflow-y: auto;
    padding: 24px 24px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .form {
      gap: 15px;
      display: flex;
      flex-direction: column;
      
      &-row {
        gap: 15px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      }
      &-block {
        gap: 10px;
        display: flex;
        flex-direction: column;

        &-starts {
          gap: 15px;
          display: flex;

          &:hover {
            path {
              fill: #FD9C2D;
            }
          }
          
          > label {
            svg {
              cursor: pointer;
              
              path {
                fill: #EAE0D5;
              }
            }
            
            &:hover {
              ~ label path {
                fill: #EAE0D5;
              }
            }
            &.selected {
              path {
                fill: #FD9C2D;
              }
            }
          }

          &-input {
            width: 0;
            height: 0;
            opacity: 0;
            visibility: hidden;
          }
        }

        input[type=text], textarea {
          width: 100%;
          min-width: 100%;
          padding: 5px 10px;
          border-radius: 7px;
        }
      }
    }

    .review-success {
      text-align: center;
      padding: 30px 20px;

      &__icon {
        width: 90px;
        height: 90px;
        display: flex;
        align-items: center;
        margin: 0 auto 20px;
        border-radius: 100px;
        background: #9D8465;
        justify-content: center;
        border: 8px solid #F6E8D6;

        svg {
          width: 34px;
          height: 34px;
        }
      }

      &__title {
        font-size: 22px;
        font-weight: 700;
        color: #333;
        margin-bottom: 12px;
        text-transform: uppercase;
      }

      &__text {
        font-size: 15px;
        color: #666;
        line-height: 1.6;
        max-width: 380px;
        margin: 0 auto;
      }
    }
  }

  &__footer {
    padding: 24px;
    border-top: 1px solid #E9E9E9;
  }

  &__subtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    color: #373737;
    font-size: 16px;
    font-family: Aspekta, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 20px;
  }

  &__buttons {
    display: flex;
    gap: 8px;
  }

  &__btn {
    flex: 1;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 12px 16px;
    text-align: center;
    border-radius: 40px;
    transition: all 0.2s;
    text-decoration: none;
    font-family: Aspekta, sans-serif;

    &--primary {
      color: white;
      background: #121212;

      &:hover {
        color: white;
        background: #2B2B2B;
      }
    }

    &--outline {
      color: #121212;
      text-align: center;
      background: white;
      text-decoration: none;
      border: 1px solid #BDBDBD;
      text-transform: capitalize;

      &:hover {
        color: #2B2B2B;
        background: #F6F6F6;
      }
    }
  }
}

.cart-item {
  display: flex;
  gap: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid #E2E2E2;

  &:last-child {
    border-bottom: none;
  }

  &__image {
    width: 132px;
    height: 144px;
    background: #D9D9D9;
    border-radius: 8px;
    flex-shrink: 0;
  }

  &__details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__title {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #111111;
    line-height: 20px;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Aspekta, sans-serif;
  }

  &__price {
    color: #3F3F3F;
    font-size: 16px;
    font-family: Aspekta, sans-serif;
    font-weight: 400;
    line-height: 20px;
  }

  &__meta {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &__meta-item {
    font-size: 12px;
    line-height: 18px;
    text-transform: capitalize;
    font-family: Aspekta, sans-serif;

    .label {
      color: #363636;
      font-weight: 500;
    }

    .value {
      color: #6E6E6E;
      font-weight: 400;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__quantity {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 6px 12px;
    border: 1px solid #DBDBDB;
    border-radius: 50px;

    .quantity-btn {
      width: 20px;
      height: 20px;
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    .quantity-value {
      color: rgba(0, 0, 0, 0.70);
      font-size: 16px;
      font-family: Aspekta, sans-serif;
      font-weight: 500;
      min-width: 20px;
      text-align: center;
    }
  }

  &__remove {
    flex: 1;
    gap: 8px;
    padding: 0;
    border: none;
    display: flex;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    background: none;
    align-items: center;
    color: rgba(0, 0, 0, 0.60);
    font-family: Aspekta, sans-serif;

    svg {
      width: 14px;
      height: 14px;
    }

    &:hover {
      color: rgba(0, 0, 0, 0.80);
    }
  }
}