.category-card {
  position: relative;
  border-radius: 8px;
  margin-bottom: 50px !important;

  .category-image img {
    width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 1;
    transition: transform 0.3s ease;
    & + figcaption {
      left: 0;
      width: 100%;
      bottom: -60px;
      // z-index: 111111;
      font-size: 22px;
      font-weight: 500;
      position: absolute;
      text-align: center;
      font-style: italic;
      font-family: "Playfair Display";
    }
  }

  .overlay-buttons {
    inset: 0;
    margin: 0;
    opacity: 0;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
    background: rgba(0, 0, 0, 0.5);

    .see-collections {
      right: 20px;
      bottom: 20px;
      position: absolute;
    }

    .wp-block-button__link {
      color: #000;
      font-size: 14px;
      font-weight: 500;
      border-radius: 4px;
      background: #fff;
      text-decoration: none;
      padding: 0.75em 1.5em;
    }
  }

  &:hover {
    // .category-image img {
    //   transform: scale(1.05);
    // }

    .overlay-buttons {
      opacity: 1;
    }
  }
}
