.image-hotspot {
    &-container {
        position: relative;
        .hotspot {
            width: 32px;
            height: 32px;
            cursor: pointer;
            position: absolute;
            border-radius: 50%;
            background: #FFFFFF1C;
            transform: translate(-50%, -50%);

            &::before {
                top: 50%;
                left: 50%;
                content: "";
                width: 12px;
                height: 12px;
                background: #fff;
                position: absolute;
                border-radius: 100%;
                transition: all .7s ease;
                transform: translate(-50%, -50%);
            }
            &-popup {
                opacity: 0;
                padding: 5px;
                color: #333;
                // display: none;
                max-width: 300px;
                border-radius: 7px;
                width: max-content;
                background: #fff;
                position: absolute;
                text-decoration: none;
                transition: all .7s ease;
                transform: translate(20px, -10px);
                box-shadow: 2px 1px 5px #0000008a;

                &-title {
                    margin: unset;
                    font-size: 16px;
                }
                &-excerpt {
                    margin: 0;
                    font-size: 14px;
                }
                &-button {
                    margin: 0;
                    border: none;
                    padding: unset;
                    font-size: 12px;
                    cursor: pointer;
                    background: none;
                }
            }

            &:hover {
                &::before {
                    width: 20px;
                    height: 20px;
                }
                .hotspot-popup {
                    opacity: 1;
                    transform: translate(0, 0);
                }
            }
        }
    }
}


.image-hotspot-container.full-height {
    height: 100%;
    img {
        height: 100%;
    }
}