.promo-banner {
  background: #000;
  color: #fff;
  overflow: hidden;
  padding: 1.5rem 0;
  margin: 85px auto;
  position: relative;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;

    .promo-banner__title {
      font-family: 'Playfair Display', serif;
      font-style: italic;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      margin: 0;
    }

    .promo-banner__subtitle {
      font-family: 'Aspekta', sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      margin: 0;
    }

    .promo-banner__btn .wp-element-button {
      background: #fff;
      color: #202020;
      font-family: 'Aspekta', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-transform: capitalize;
      padding: 9px 24px;
      border-radius: 150px;
      transition: all 0.3s ease;

      &:hover {
        background: #e6e6e6;
      }
    }
  }

  &__divider {
    width: 32px !important;
    height: 0 !important;
    border: none !important;
    border-top: 1px solid rgba(255, 255, 255, 0.38) !important;
    transform: rotate(90deg);
  }
}
