.creative-furniture-section {
  display: flex;
  flex-direction: column;
  gap: 28px;

  .wp-block-group:first-child {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .creativefurniture-hashtag {
    color: #242424;
    font-size: 20px;
    font-family: 'Aspekta', sans-serif;
    font-weight: 500;
    text-decoration: underline;
    text-transform: capitalize;
    line-height: 44px;
  }

  .creativefurniture-subtext {
    color: #242424;
    font-size: 20px;
    font-family: 'Aspekta', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 44px;
  }

  .creativefurniture-link {
    color: #242424;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 44px;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .creativefurniture-gallery {
    display: flex;
    gap: 16px;

    .wp-block-column {
      flex: 1;
      img {
        width: 100%;
        height: 340px;
        object-fit: cover;
      }
    }
  }
}
