.cf-instagram-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.cf-instagram-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cf-instagram-title-group {
    display: flex;
    flex-direction: column;
}

.cf-hashtag {
    color: #242424;
    font-size: 20px;
    font-family: Aspekta, sans-serif;
    font-weight: 500;
    text-decoration: underline;
    text-transform: capitalize;
    line-height: 44px;
}

.cf-subtitle {
    color: #242424;
    font-size: 20px;
    font-family: Aspekta, sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 44px;
}

.cf-instagram-link {
    color: #242424;
    font-size: 20px;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 44px;
    display: flex;
    align-items: center;
}

.cf-instagram-grid {
    gap: 16px;

    .wp-block-column {
        width: 336px !important;
        flex: 0 0 auto;
    }

    .cf-instagram-img img {
        width: 336px;
        height: 340px;
        object-fit: cover;
    }
}
