.order-confirmation {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    padding: 20px;
    box-sizing: border-box;

    .confirmation-header {
        gap: 20px;
        display: flex;
        align-self: stretch;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .confirmation-icon {
            padding: 10px;
            background: #9D8465;
            border-radius: 100px;
            outline: 8px #F6E8D6 solid;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;

            svg {
                width: 32px;
                height: 32px;
                position: relative;
                overflow: hidden;
            }
        }

        .confirmation-text {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            h1 {
                align-self: stretch;
                text-align: center;
                color: #242424;
                font-size: 28px;
                font-family: Aspekta;
                font-weight: 500;
                text-transform: capitalize;
                line-height: 44px;
                word-wrap: break-word;
                margin: 0;
            }

            p {
                align-self: stretch;
                text-align: center;
                margin: 0;

                &:nth-child(2) {
                    color: #6E6E6E;
                    font-size: 14px;
                    font-family: Aspekta;
                    font-weight: 400;
                    line-height: 20px;
                    word-wrap: break-word;
                }

                &:nth-child(3) {
                    color: #2A2A2A;
                    font-size: 18px;
                    font-family: Aspekta;
                    font-weight: 500;
                    line-height: 26px;
                    word-wrap: break-word;
                }
            }
        }
    }

    .order-details {
        align-self: stretch;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .order-items {
            width: 688px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 20px;

            h2 {
                align-self: stretch;
                padding-bottom: 10px;
                border-bottom: 1px #D9D9D9 solid;
                color: #363636;
                font-size: 18px;
                font-family: Aspekta;
                font-weight: 600;
                line-height: 24px;
                word-wrap: break-word;
                margin: 0;
            }

            .order-item {
                align-self: stretch;
                padding-bottom: 20px;
                border-bottom: 1px #D9D9D9 solid;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 24px;
                position: relative;

                .item-image {
                    width: 98px;
                    height: 98px;
                    background: #D9D9D9;
                    border-radius: 8px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .item-details {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 12px;

                    h3 {
                        align-self: stretch;
                        color: black;
                        font-size: 16px;
                        font-family: Aspekta;
                        font-weight: 500;
                        line-height: 24px;
                        word-wrap: break-word;
                        margin: 0;
                    }

                    .item-specs {
                        align-self: stretch;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        gap: 2px;

                        > div {
                            gap: 5px;
                            margin: 0;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;

                            p {
                                margin: 0;
                            }
                            
                            span {
                                &:first-child {
                                    color: #363636;
                                    font-size: 12px;
                                    font-family: Aspekta;
                                    font-weight: 500;
                                    line-height: 18px;
                                    word-wrap: break-word;
                                }

                                &:last-child {
                                    color: #6E6E6E;
                                    font-size: 12px;
                                    font-family: Aspekta;
                                    font-weight: 400;
                                    line-height: 18px;
                                    word-wrap: break-word;
                                }
                            }
                        }
                    }
                }

                .item-price {
                    width: 88px;
                    text-align: right;
                    color: rgba(0, 0, 0, 0.70);
                    font-size: 16px;
                    font-family: Aspekta;
                    font-weight: 500;
                    line-height: 24px;
                    word-wrap: break-word;
                }

                .item-quantity {
                    width: 24px;
                    height: 24px;
                    padding: 10px;
                    background: #818080;
                    border-radius: 62px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    position: absolute;
                    left: 86px;
                    top: -12px;

                    span {
                        width: 14px;
                        height: 16px;
                        text-align: center;
                        color: white;
                        font-size: 16px;
                        font-family: Aspekta;
                        font-weight: 400;
                        line-height: 18px;
                        word-wrap: break-word;
                    }
                }
            }
        }

        .order-overview {
            width: 652px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 40px;

            .overview-section {
                align-self: stretch;
                padding: 28px;
                background: #F8F8F8;
                border-radius: 12px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 20px;

                h2 {
                    align-self: stretch;
                    padding-bottom: 10px;
                    border-bottom: 1px #D9D9D9 solid;
                    color: #363636;
                    font-size: 18px;
                    font-family: Aspekta;
                    font-weight: 600;
                    line-height: 24px;
                    word-wrap: break-word;
                    margin: 0;
                }

                .overview-grid {
                    gap: 12px;
                    display: grid;
                    align-self: stretch;
                    grid-template-columns: repeat(3, 1fr);

                    .overview-item {
                        flex: 1;
                        gap: 12px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: flex-start;

                        label {
                            color: #333333;
                            font-size: 16px;
                            font-family: Aspekta;
                            font-weight: 500;
                            text-transform: capitalize;
                            line-height: 24px;
                            word-wrap: break-word;
                        }

                        span {
                            // text-align: right;
                            color: #696969;
                            font-size: 14px;
                            font-family: Aspekta;
                            font-weight: 400;
                            line-height: 20px;
                            word-wrap: break-word;

                            &:first-child {
                                text-transform: uppercase;
                            }
                        }

                        &:nth-child(4) label {
                            color: #373737;
                        }

                        &:nth-child(4) span {
                            white-space: pre-line;
                        }
                    }
                }
            }

            .order-summary {
                align-self: stretch;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 20px;

                h2 {
                    align-self: stretch;
                    padding-bottom: 10px;
                    border-bottom: 1px #D9D9D9 solid;
                    color: #363636;
                    font-size: 18px;
                    font-family: Aspekta;
                    font-weight: 600;
                    line-height: 24px;
                    word-wrap: break-word;
                    margin: 0;
                }

                .summary-items {
                    align-self: stretch;
                    padding-bottom: 20px;
                    border-bottom: 1px #D9D9D9 solid;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 12px;

                    .summary-item {
                        align-self: stretch;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        span {
                            &:first-child {
                                color: #373737;
                                font-size: 14px;
                                font-family: Aspekta;
                                font-weight: 500;
                                text-transform: capitalize;
                                line-height: 20px;
                                word-wrap: break-word;
                            }

                            &:last-child {
                                text-align: right;
                                color: #464646;
                                font-size: 14px;
                                font-family: Aspekta;
                                font-weight: 400;
                                line-height: 20px;
                                word-wrap: break-word;

                                &:first-child + & {
                                    text-transform: uppercase;
                                }
                            }
                        }

                        &.total span:first-child {
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 24px;
                        }

                        &.total span:last-child {
                            font-weight: 500;
                            text-transform: uppercase;
                        }
                    }
                }
            }

            .action-buttons {
                align-self: stretch;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 16px;

                button,
                a {
                    flex: 1;
                    height: 48px;
                    padding: 12px 20px;
                    border-radius: 140px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 4px;
                    text-decoration: none;
                    cursor: pointer;

                    span {
                        text-align: center;
                        font-size: 16px;
                        font-family: Aspekta;
                        font-weight: 500;
                        line-height: 24px;
                        word-wrap: break-word;
                    }

                    &.btn-outline {
                        outline: 1px #BFBFBF solid;
                        outline-offset: -1px;
                        background: transparent;

                        span {
                            color: #272727;
                        }
                    }

                    &.btn-primary {
                        color: white;
                        background: #0C0A0A;

                        span {
                            color: white;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .order-details {
            flex-direction: column;

            .order-items,
            .order-overview {
                width: 100%;
            }
        }
    }
}

@media print {
    .woocommerce-order-received {
        .site-header, .site-footer,
        .order-overview .action-buttons {
            display: none;
        }
    }
}