.video-promo-banner {
    width: 100%;
    height: 670px;
    margin-top: 60px;
    overflow: hidden;
    position: relative;

    .wp-block-cover__inner-container.vpp-center-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    &__play {
        top: 50%;
        left: 50%;
        width: auto;
        height: auto;
        border: none;
        display: flex;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        align-items: center;
        justify-content: center;
        transition: 0.2s ease-in-out;
        transform: translate(-50%, -50%);
        background: none; // rgba(255, 255, 255, 0.8);

        svg {
            width: 80px;
            height: 80px;
            display: block;

            &.animate-spin {
                animation: spin 7s linear infinite;
            }

            & + svg {
                top: 50%;
                left: 50%;
                position: absolute;
                transform: translate(-50%, -50%);
            }
        }

        &:hover {
            background: none; // rgba(255, 255, 255, 1);
            transform: translate(-50%, -50%) scale(1.05);
        }
    }
}