.cf-wishlist-wrapper {
    gap: 40px;
    display: flex;
    padding: 40px 0;
    min-height: 600px;

    @media (max-width: 750px) {
        padding: 20px;
        flex-direction: column;
    }
    
}

.cf-wishlist-left {
    width: 65%;

    @media (max-width: 750px) {
        width: 100%;
    }
}

.cf-wishlist-left h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.cf-wishlist-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.cf-wishlist-item {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
}

.cf-wishlist-thumb img {
    width: 140px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.cf-wishlist-info {
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cf-wishlist-title {
    color: #333;
    display: block;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.cf-wishlist-price {
    font-size: 16px;
    font-weight: 600;
}

.cf-wishlist-actions {
    gap: 15px;
    display: flex;
    align-items: center;
}

.cf-wishlist-remove {
    padding: 0;
    border: none;
    color: #d00;
    font-size: 14px;
    cursor: pointer;
    background: none;
}

.cf-wishlist-right {
    width: 35%;
    position: sticky;
    top: 40px;
    align-self: flex-start;

    @media (max-width: 750px) {
        width: 100%;
    }
}

.cf-wishlist-summary {
    border: 1px solid #e5e5e5;
    padding: 20px;
    border-radius: 10px;
}

.cf-wishlist-summary h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.cf-wishlist-summary-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    font-size: 16px;
}

.cf-wishlist-share-btn {
    width: 100%;
    margin-top: 15px;
    padding: 12px 0;
    background: black;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.cf-wishlist-share-panel {
    gap: 10px;
    display: none;
    flex-direction: column;
    padding: 30px 20px 20px 20px;
}

.cf-wishlist-share-panel.active {
    display: flex;
}

.cf-wishlist-share-link {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.cf-wishlist-copy-link {
    padding: 10px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
