.cf-intro-section {
  width: 100%;
  padding: 88px 0;
  text-align: center;

  .cf-intro-text {
    margin: 0 auto;
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
    word-wrap: break-word;

    .cf-aspekta-dark {
      color: #2A2A2A;
      font-family: 'Aspekta', sans-serif;
      font-weight: 500;
    }

    .cf-playfair-dark {
      color: #2A2A2A;
      font-family: 'Playfair Display', serif;
      font-style: italic;
      font-weight: 500;
    }

    .cf-aspekta-gray {
      color: #B7B7B7;
      font-weight: 500;
      font-family: 'Aspekta', sans-serif;
    }

    .cf-playfair-gray {
      color: #B7B7B7;
      font-family: 'Playfair Display', serif;
      font-style: italic;
      font-weight: 500;
    }
  }
}

@media (max-width: 768px) {
  .cf-intro-section .cf-intro-text {
    font-size: 22px;
    line-height: 34px;
  }
}
